<h3><%= song.title %></h3>
    <ul>
        <li><%= song.artist_name %></li>
        <li><%= song.genre %></li>
        <li><%= song.released %></li>
        <li><%= song.release_year %></li>
    </ul>